<% include partials/head %>

  <div class="main container-fluid">

    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-12">
        <h3>Saved Posts</h3>
        <% posts.map(d => { %>
          <div class="post" id='<%= d._id %>'>
            <div class="row">
              <div class="col-md-2 col-xs-3 col-sm-2">
                <img class="img-fluid" src="<%= d.imagelink%>" alt="itemlogo">
              </div>
              <div class="col-md-10 col-xs-9 col-sm-10">
                <div class="text">
                  <strong><a href="http://thehashhub.com"><%= d.title %></a></strong>
                  <div class="datePosted">
                    <span><%= moment(d.created).format('MMM Do YYYY') %></span> <br/>
                    <span><a><%= d.comments.length %> comments</a></span>
                  </div>
                  <% if (isLoggedIn) { %>
                  <form action='/deletepost/<%= d._id %>' method="POST" class="form-inline"><button type="submit" class="btn btn-danger">Delete this post</button> &nbsp;
                    <span><a href='/updatepost/<%= d._id %>' class="btn btn-warning">Update this post</a></span>
                  </form>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="row">
          <% if (isLoggedIn) { %>
            <div class="isLoggedIn text-center">
              <i class="fa fa-user fa-5x"></i>
              <p>Name:
                <%= user.username %>
              </p>
              <p>Registered:
                <%= moment(user.registered).format('MMM Do YYYY') %>
              </p>

            </div>
            <% } else { %>

              <form action="/login" method="POST" class="loginform form-control">
                <div class="input-group">
                  <div class="input-group-addon">@</div>
                  <input type="text" placeholder="Username" required class="form-control" name="username">
                </div>
                <div class="input-group">
                  <div class="input-group-addon"><span class="fa fa-eye-slash"></span></div>
                  <input type="password" placeholder="Password" required class="form-control" name="password">
                </div>
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Remember me</span>
            </label>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
                </div>
                <div class="form-group">
                  <a type='button' href="/signup" class="btn btn-warning btn-block">SIGN UP</a>
                </div>
              </form>
              <% } %>
        </div>
      </div>


    </div>

  </div>

  <% include partials/foot %>